[user]
	name = # USER_NAME
	email = # USER_EMAIL
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[push]
	default = matching
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[github]
	user = # GITHUB_USER
	token = # GITHUB_TOKEN
